@use 'functions' as *;

@mixin breakpoints-up($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin breakpoints-down($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin displayFlexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin smallDice() {
  width: 5.5vh;
  height: 5.5vh;
}

@mixin bigDice() {
  width: 8vh;
  height: 8vh;
}

@mixin actions($action) {
  &__#{$action} {
    width: rem(50);
    height: rem(50);
    border: rem(2) solid #fff;
    border-radius: 50%;
    padding: rem(5);
    position: relative;
    overflow: hidden;
  }

  &__#{$action}-content {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &__#{$action}-load {
    background: green;
    // height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
  }
}